{% extends '::base.html.twig' %}
{% block body %}
   <br />
    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit Carpooler </h3>
                </div>
                <div class="panel-body">
                    <form method="post">
                        {{ form_widget(form) }}
                        <br />
                        <button class="btn btn-success">Submit edit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}