{% extends '::base.html.twig' %}

{% block title 'Events' %}


    {% block body %}
        {% block navigation %}
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="{{ path("show_all") }}">Teams</a></li>
                <li role="presentation"><a href="{{ path("show_all_players") }}">Players</a></li>
            </ul>
        {% endblock %}
    {% endblock %}