{% extends 'StreakBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Bet</h3>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <form method="post" action="{{ path('create_bet') }}">
                                {{ form_widget(form) }}
                                <br />
                            <button class="btn btn-success">Create Bet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}