{% extends 'StreakBundle::layout.html.twig' %}

{% block body %}
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Streak User</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ path('check_login') }}" method="post">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" value="" />

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password" />

                        <input class="btn btn-primary" type="submit" name="login" />
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}