{% extends 'StreakBundle::layout.html.twig' %}

{% block body %}
    <div class="panel panel-primary" ng-controller="showBetsController">
        <div class="panel-heading">
            <h3 class="panel-title">Show all bets</h3>
        </div>
        <div class="panel-body">
            <form name="betForm">
                <table class="show-bets table table-striped" >
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>Bet amount</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="bet in bets" ng-include="getTemplate(bet)">
                    </tbody>
                </table>
            </form>
            <div class="col-xs-10 col-md-10">
                <a href="{{ path('create_bet') }}" class="btn btn-primary">Propose new bet</a>
            </div>
            <script type="text/ng-template" id="showbets">
                <tr>
                    <td>{[{ bet.description }]}</td>
                    <td>${[{ bet.amount }]}</td>
                    <td>
                        <button class="btn btn-info btn-small" ng-click="showEdits(bet)">
                            <span class="glyphicon glyphicon-check"></span> Edit
                        </button>
                        <button class="btn btn-info btn-small">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </button>
                    </td>
                </tr>
            </script>
            <script type="text/ng-template" id="editbets">
                <tr>
                    <td><input type="text" ng-model="bet.description"></td>
                    <td><input type="number" ng-model="bet.amount"></td>
                    <td>
                        <button class="btn btn-info btn-small" ng-click="saveBet(bet)">
                            <span class="glyphicon glyphicon-check"></span> Save
                        </button>
                        <button class="btn btn-info btn-small" ng-click="cancel()">
                            <span class="glyphicon glyphicon-plus"></span> Cancel
                        </button>
                    </td>
                </tr>
            </script>
        </div>
    </div>
{% endblock %}