{% extends 'StreakBundle::layout.html.twig' %}

{% block body %}
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Show all bets</h3>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row col-md-6"><strong>Description</strong></div>
                        <div class="row col-md-4"><strong>Bet amount</strong></div>
                        {% for bet in bets %}
                            <div class="row col-md-6">
                                 {{ bet.description }}
                            </div>
                            <div class="row col-md-4">
                                {{ bet.amount }}
                            </div>
                        {% endfor %}
                        <a href="{{ path('create_bet') }}" class="btn btn-primary">Propose new bet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}