{% extends 'StreakBundle::layout.html.twig' %}

{% block body %}
    <div class="panel panel-primary" ng-controller="showBetsController">
        <div class="panel-heading">
            <h3 class="panel-title">Show all bets</h3>
        </div>
        <div class="panel-body">
            <div class="col-xs-6 col-md-6"><strong>Description</strong></div>
            <div class="col-xs-2 col-md-2"><strong>Bet amount</strong></div>
            <div class="col-xs-2 col-md-2"><strong>Bet amount</strong></div>
            {% for bet in bets %}
                <div class="row" style="border-top: 1px; padding-top: 10px;">
                    <div class="col-xs-6 col-md-6">
                        {{ bet.description }}
                    </div>
                    <div class="col-xs-2 col-md-2">
                        {{ bet.amount }}
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <button class="btn btn-info btn-xs">Select</button>
                    </div>
                </div>
            {% endfor %}
            <div class="col-xs-10 col-md-10">
                <a href="{{ path('create_bet') }}" class="btn btn-primary">Propose new bet</a>
            </div>
        </div>
    </div>
{% endblock %}